<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnlineAppleShoppingStore</title>
    <link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Administration <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Users Management", "Dashboard", "Administration", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Personal account management", "Index", "Manage", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Store forum", "Index", "Forums", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Store", "Index", "Home")</li>
                    <li>@{Html.RenderAction("Summary", "Cart");}</li>
                    <li>@Html.ActionLink("DeliverOrders", "Index", "DeliverOrders")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Statistics & Reports <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Statistics", "Index", "Statistics", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("General Informations", "GeneralStatistics", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Orders report", "OrdersReport", "Reports", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Ordered products", "ProductsOrderedReport", "Reports", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Cart products report", "CartProductsReport", "Reports", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Feedback", "Feedback", "Home")</li>
                    <li>@Html.ActionLink("Store Forum", "Index", "Forums")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OnlineAppleShoppingStore</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @section Scripts {
        <script type="text/javascript" src="~/Scripts/Layout/Slider.js"></script>
        <script type="text/javascript" src="~/Scripts/Layout/Menu.js"></script>
        <script type="text/javascript" src="~/Scripts/Cart/Slides.js"></script>
        <script type="text/javascript" src="~/Scripts/Cart/Cart.js"></script>
}
    </body>
</html>
