@model  OnlineAppleShoppingStore.Entities.Models.Category

@{
    ViewBag.Title = "Browse Products";
}

       <h3><em>Items available for @Model.Name</em> category:</h3>

     <div class="table-bordered">
    <ul id="item-list">
        @foreach (var item in Model.Products)
        {
            <li>
                <a href="@Url.Action("ProductDetails", new { id = item.Id })">
                    <img alt="@item.Name" src="@item.LastUpdated" />
                </a>
            </li>
        }
    </ul>

    <p class="button">
        @Html.ActionLink("Back", "Index",
        "Dashboard", new { id = Model.Id }, "")
    </p>
</div>

